@page
@model LojaDeLivros.Pages.Assuntos.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Editar Assunto</h2>

<form method="post">
    <input type="hidden" asp-for="Assunto.CodAs" />

    <div class="form-group">
        <label asp-for="Assunto.Descricao"></label>
        <input asp-for="Assunto.Descricao" class="form-control input-largura-40" />
        <span asp-validation-for="Assunto.Descricao" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
    <a asp-page="./Index" class="btn btn-secondary btn-lg btn-block">Cancelar</a>
</form>