@page
@model RelatorioModel
@{
    ViewData["Title"] = "Relatório de Livros";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<h2>@ViewData["Title"]</h2>

<table id="livrosTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Autor</th>
            <th>Código</th>
            <th>Título</th>
            <th>Editora</th>
            <th>Edição</th>
            <th>Valor</th>
            <th>Assunto</th>
            <th>Ano de Publicação</th>
        </tr>
    </thead>
</table>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        

    <script>

        // $.ajax({
        //     "url": "/Relatorio?handler=LivrosData",
        //     "type": "GET",
        //     "dataType": "json",
        //     success: function (data) {
        //         // Exibir um alerta com a mensagem de sucesso
        //         alert('Solicitação AJAX concluída com sucesso! Dados recebidos: ' + JSON.stringify(data));
        //     },
        //     error: function (xhr, status, error) {
        //         // Exibir um alerta com a mensagem de erro
        //         alert('Erro na solicitação AJAX: ' + status + ' - ' + error);
                
        //     }
        // });

        $(document).ready(function () {
            var table = $("#livrosTable").DataTable({
                "ajax": {
                    "url": "/Relatorio?handler=LivrosData",
                    "type": "GET",
                    "dataType": "json",
                },
                "columns": [
                    { "data": "nome" },
                    { "data": "codl" },
                    { "data": "titulo" },
                    { "data": "editora" },
                    { "data": "edicao" },
                    { "data": "valor" },
                    { "data": "descricao" },
                    { "data": "anoPublicacao" }
                ],
                "order": [[0, "asc"]],
                "rowGroup": {
                    "dataSrc": "nome"
                }
            });
            
        });
    </script>
}